

html,
body {
    height: 100%;
    background-color: #f5f5f5;
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
}

#header {
    background-color: #1B1B1B;
    height:60px;
    background-image: linear-gradient(to bottom, #111, #444);
    background-repeat: repeat-x;
    border-color: #252525;
}

.page-header{
    color: #FFF;
    float:left;
    font-size: 24px;
    margin-left: 50px;
    line-height: 55px;
    border: none;
}

.headercontent {
    color: #FFF;
    float: right;
    display: block;
    font-size: 16px;
    margin-right: 50px;
    margin-top: 15px;
}

#searchbar{
    float:right;
    display:block;
    margin-right: 20px;
    line-height: 73px;
}

.searchform{
background: url('/static/images/search.png') right no-repeat;
padding-left:20px;
background-size: 28px 28px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
    height: 60px;
}
#footer {
    background-color: #1B1B1B;
    background-image: linear-gradient(to bottom, #444444, #111111);
    background-repeat: repeat-x;
    border-color: #252525;
}

.container {
    width: auto;
    max-width: 600px;
}
.container .credit {
    margin: 20px 0;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.form-input {
    max-width: 425px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.search-results{
    max-width: 800px;
    padding: 10px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

label {
    width: 200px;
    border-bottom: 1px solid #e5e5e5;
    font-size: 16px;
    height: auto;
    display: inline-block;
}

.submitbtn
{
  width: 300px !important;
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

ul.errorlist{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul.errorlist li{
    color: #ffffff;
    background-color: #d9534f;
    border-color: #d43f3a;
    list-style-type: none;
    display: block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    border-radius: 4px;

}

input[type="text"],
input[type="password"] {
    font-size: 16px;
    height: auto;
    display: inline-block;
    margin-top:-15px;
}

input[type="text"].error {
    font-weight: bold;
    background: #d9534f;
    border-color: #d43f3a;
}

select.error {
    font-weight: bold;
    background: #d9534f;
    border-color: #d43f3a;
}

label.error {
visibility: hidden;
height: 0;
margin: 0;
padding: 0;
border: 0;
width: 0;
line-height: 0;
}

select {
    font-size: 16px;
    height: auto;
    display: inline-block;
    margin-top:-15px;
}
