<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}Ten K Data Entry{% endblock %}</title>

    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/style.css" rel="stylesheet">

</head>

<body>

    <div id="header">
        <div class="page-header">
            {% block header %}Ten K Data Entry{% endblock %}
        </div>
            {% if user.is_authenticated %}
        <div class="headercontent">
                <a class="btn" href={% url 'csv_import' %}>Import</a>
                <a class="btn" href={% url 'csv_export' %}>Export</a>
                <a class="btn" href={% url 'create' %}>Create</a>
                <a class="btn" href={% url 'quick' %}>Quick</a>
                <a class="btn btn-danger" href={% url 'logout' %}>logout</a>
        </div>
        <div class="searchbar">
                <form id="searchform" class="form-search" action="{% url 'search' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ search_form.search }}
                </form>
        </div>
            {% endif %}
    </div>

    <div id="wrap">

    <div class="container">
    </div>

        {% block content %}{% endblock %}

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
        <script type="text/javascript" src="http://jzaefferer.github.com/jquery-validation/jquery.validate.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/tenk.js"></script>

    </div>
    <div id="push"></div>
</div>

<div id="footer">
    <div class="container">
        <p class="muted credit">© 2022 Charles Bock</p>
    </div>
</div>
</body>
</html>