{% extends "base.html" %}

{% block header %}Import CSV{% endblock %}

{% block content %}

        <!-- Upload form. Note enctype attribute! -->
        <form action="{% url 'csv_import' %}" method="post" enctype="multipart/form-data" class="form-input">
            {% csrf_token %}
            {% for field in form %}
                {{ field.errors }}<br/>
                {{ field.label_tag }}<br/><br/>
                {{ field }}<br/>
            {% endfor %}
            <p><input type="submit" value="Upload" /></p>
        </form>

 <!-- List of uploaded documents -->
    {% if documents %}
        <ul>Recently Uploaded:
        {% for document in documents %}
            <li><a href="{{ document.csvfile.url }}">{{ document.csvfile.name }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No documents.</p>
    {% endif %}

{% endblock %}