{% extends "base.html" %}

{% block header %}Quick Entry Form{% endblock %}

{% block content %}

        <form id="createform" action="{% url 'quick' %}" method="post" enctype="multipart/form-data" class="form-input">
            {% csrf_token %}
            {% for field in form %}
                {{ field.errors }}<br/>
                {{ field.label_tag }} {{ field }}<br/>
            {% endfor %}
            <input type="submit" value="Submit" class="btn btn-primary btn-large submitbtn">
        </form>

{% endblock %}